<!-- <p class="theme-table-elements-count">عرض <span class="bold"> {{_length}} </span> {{_length>11 ? 'Item' : 'Items'}} من اصل <span class="bold">{{_total}}</span> {{_total>11 ? 'Item' : 'Items'}}</p> -->



<p class="theme-table-elements-count text-primary h5">Display From<span class="bold text-dark"> {{from}} </span>To <span class="bold text-dark"> {{to}}
    </span> {{_total>=11 ? 'Item' : 'Items'}} Out of<span class="bold text-dark">{{_total}}</span>
    {{_total>=11 ? 'Item' : 'Items'}}</p>